.swagger-section .swagger-ui-wrap .info_title {
    margin-left: 40% !important;
    margin-top: -20px !important
}

.swagger-section #header {
    display: none;
}

.content {
    border: 0px !important;
    background-color: white !important;
}

.swagger-section .swagger-ui-wrap pre {
    border: 1px solid lightgray !important;
    background-color: ivory !important;
}

.swagger-section .swagger-ui-wrap .info_title {
    padding-left: 86px;
    background-image: url(/swagger-ui/bribe.png);
    background-size: 64px;
    background-repeat: no-repeat;
    line-height: 64px;
}

.swagger-section #input_apiKey {
    width: 100%;
    height: 25px;
    font-size: 12pt;
    color: #A8A8A8;
}

::-webkit-input-placeholder {
    color: #ff8080;
}
